.detailsHotel {
  /* outline: 1px solid blue; */
  padding-left: 5rem;
  padding-top: 3rem;
  margin: 2rem 10rem;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.fotoHotel {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 2rem;
}

.infoHotel {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 60rem;
}

.nombreHotel {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.infoHotel h1 {
  font-size: 2.5rem;
  font-family: var(--myFont);
  color: var(--blueHooking);
}

.star {
  width: 2rem;
}

.infoHotel p {
  max-width: 50rem;
  font-size: 2rem;
  font-family: var(--myFont);
  color: var(--blueHooking);
  justify-content: space-between;
}

.precioHotel {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.precioHotel h3 {
  font-size: 3rem;
  color: var(--blueHooking);
}

.precioHotel p {
  font-size: 2rem;
  color: var(--blueHooking);
}

.precioHotel button {
  background-color: var(--blueHooking);
  padding: 1rem;
  border-radius: 5px;
  color: var(--white);
  font-family: var(--myFont);
  font-size: 25px;
  border: none;
  cursor: pointer;
}

.precioHotel button:hover {
  background-color: var(--lightBlue);
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}

.pagination button {
  width: 40px;
  height: 40px;
  margin: 10px;
  background-color: var(--blueHooking);
  font-family: var(--myFont);
  font-size: 17px;
  font-weight: bold;
  color: var(--white);
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
