* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: Helvetica;
}

:root {
  --black: #000;
  --white: #fff;
  --blueHooking: #003580;
  --lightBlue: #006ce4;
  --darkBlue: #00224f;
  --myFont: Helvetica, Arial, sans-serif;
}

h2 {
  background-color: var(--white);
}
