header .nav {
    background-color: var(--blueHooking);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    height: 6rem;
    align-items: center;
    padding: 0 5rem;
    font-size: 3.5rem;
  
} 

header .nav a {
    color: var(--white);
    text-decoration: none;
}

header .contained {
    font-size: 1.5rem ;
    color: var(--blueHooking);
    padding: 0 2rem;
    background-color: var(--white);
} 






