header{
  width: 100vw;
  background-color: var(--blueHooking);
  color: var(--white);
}

header .nav {
  display: flex;
  justify-content: space-between;
  height: 6rem;
  align-items: center;
  padding: 0 5rem;
  font-size: 3.5rem;
}

header .nav a {
  color: var(--white);
}

header .contained {
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  color: var(--blueHooking);
  background-color: var(--white);
  cursor: pointer;
  transition: all .3s ease-in-out;
}
 header .contained:hover{
    background-color: var(--lightBlue);
    color: var(--white);
 }
