nav {
  width: 100vw;
  background-color: var(--blueHooking);
  display: flex;
  justify-content: space-between;
  padding: 3rem 15rem;
}

nav img {
  width: 15rem;
}

.headerBtn {
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  color: var(--blueHooking);
  background-color: var(--white);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.headerBtn:hover {
  background-color: var(--lightBlue);
  color: var(--white);
}
